<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="keywords" content="">
		<meta name="description" content="">
		<title>Francis Mitra</title>
	</head>
	<body>

		{% block content %}
		{% endblock %}
		
		<nav>
			<ul>
			{% for menu_items in menu %}
				<li><a href="{% url 'portfolio:categories' menu_items.slug %}">{{menu_items.title}}</a></li>
			{% endfor %}
			</ul>
		</nav>

	</body>
</html>