{% extends "base/layout.html" %}
{% block content %}

<section class="page" id="test">
	{% if link %}
	<a class="instagram-link" href="{{link}}">Connect with Instagram</a>
	{% endif %}
	<div id="social">
		<script type="text/template" id="instagram-template">
		<% _.each(collection, function(item) { %>
			<div class="instagram-wrapper">
				<div class="instagram-hover">
					<div class="details" data-id="<%= item.id %>">
						<div class="outercontainer"><div class="innercontainer">
							<a href="/social/media_like/<%= item.id %>"><span><%= item.likes %> <span class="hearts">&hearts;</span></span></a><br>
							<span class="caption"><%= item.caption %></span>
						</div></div>
					</div>
				</div>
				<img src="<%= item.photo %>" data-id="<%= item.id %>" data-caption="<%= item.caption %>" data-likes="<%= item.likes %>">
				</div>
		<% }); %>
		</script>
	</div>
</section>

{% endblock %}