{% extends "base/layout.html" %}
{% block content %}

<section id="social" class="page social{% if link %} social-push{% endif %}">

	{% if link %}
	<a class="instagram-link link-pair" href="{{link}}">Connect to Like</a>
	<a class="instagram-link link-pair" href="http://instagram.com/smileitsfranny">Follow on Instagram</a>
	{% else %}
	<a class="instagram-link" href="http://instagram.com/smileitsfranny">Follow on Instagram</a>
	{% endif %}
	<div id="instagram-block">	
	</div>

	<div id="load-more">Load More</div>

</section>

<script type="text/template" id="instagram-template">
	
	<div class="instagram-fail">
		<div class="outercontainer"><div class="innercontainer">
			<span>Not Logged In</span>
		</div></div>
	</div>
	<div class="instagram-hover">
		<div class="details" data-id="<%= id %>">
			<div class="outercontainer"><div class="innercontainer">
				<span class="likes"><%= likes.count %></span> <span class="hearts">&hearts;</span><br>
				<span class="caption"><%= caption.text %></span>
			</div></div>
		</div>
	</div>
	<img src="<%= images.standard_resolution.url %>" data-id="<%= id %>">

</script>


{% endblock %}

{% block js %}

	{{ block.super }}

	{% load compress %}
	{% compress js %}
	<script src="{{ STATIC_URL }}scripts/social.js"></script>
	{% endcompress %}

{% endblock %}