<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="keywords" content="New York based portrait and street photographer">
		<meta name="description" content="">
		<title>Francis Mitra{% if page_title %} | {{ page_title }}{% endif %}</title>
		<link rel="icon" href="{{ STATIC_URL }}media/favicon.png" type="image/png">
		{% load compress %}
		{% compress css %}
		<link rel="stylesheet" href="{{ STATIC_URL }}styles/main.less" type="text/less">
		{% endcompress %}
		{% if not development %}
		<script src="{{ STATIC_URL }}scripts/analytics.js"></script>
		{% endif %}
	</head>
	<body>

	<div class="wrapper">
		<div class="mobile-menu clearfix{% if mobile_home %} hide-toggle{% endif %}">
			<a class="author" href="/">Francis<strong>Mitra</strong></a>
			<span class="menu-toggle" data-icon-name="hamburgerCross"></span>
		</div>
		<nav{% if mobile_home %} class="full-screen" {% endif %}>

			<ul class="menu">
			<!-- temporarily hide videos -->
			{% for menu_items in menu|slice:"4" %}
				<li><a href="{% url 'portfolio:categories' menu_items.slug %}">{{menu_items.title}}</a></li>
			{% endfor %}
				<li><a href="/info">Info</a></li>
				<li><a href="/resume">Resume</a></li>
				<li><a href="{% url 'blog:tutorials' %}">Tutorials</a></li>
				<li><a href="/social">Social</a></li>
				<li><a href="{% url 'blog:blog_home' %}">Blog <span class="update_date">Updated: {{updated_at.created|date:"M d"}}</span></a></li>
			</ul>

			{% if aside %}
			<ul class="aside">
			{% for aside_items in aside %}
				<li>{{aside_items}}</li>
			{% endfor %}
			</ul>
			{% endif %}
		</nav>

		<div class="nav-push"></div>
		<div class="mobile-shade"></div>
		
		{% block content %}
		{% endblock %}

		<footer>
			<span class="left"><a href="/">Francis Mitra</a> | <a target="_blank" href="https://github.com/fmitra/francismitra">Source</a></span>
			<span class="right">&copy {{year}}</span>
		</footer>
	</div> <!-- .wrapper -->

		{% block js %}
		{% load compress %}
		{% compress js %}
		<script src="{{ STATIC_URL }}scripts/libs/jquery.min.1.11.1.js"></script>
		<script src="{{ STATIC_URL }}scripts/libs/underscore.js"></script>
		<script src="{{ STATIC_URL }}scripts/libs/backbone.js"></script>
		<script src="{{ STATIC_URL }}scripts/libs/jquery.mousewheel.min.js"></script>
		<script src="{{ STATIC_URL }}scripts/libs/jquery.unveil.js"></script>
		<script src="{{ STATIC_URL }}scripts/libs/svg-animation.js"></script>
		<script src="{{ STATIC_URL }}scripts/main.js"></script>
		{% endcompress %}
		{% endblock %}

	</body>
</html>