{% extends "base/layout.html" %}
{% block opengraph %}
<meta property="og:title" content="{{ categories.title }}"/>
<meta property="og:image" content="http://francismitra.com{{ categories.images_set.all.first.photo.url }}" />
<meta property="og:site_name" content="Francis Mitra"/>
{% endblock %}

{% block content %}

<section class="portfolio">
{% for image in categories.images_set.all %}
	<img class="unveil" src="{{ STATIC_URL }}media/loading.gif" data-src="{{ image.photo.url }}" alt="">
	<div class="row">
		{% if image.caption %}
		{{image.caption}} <span> | </span>
		{% endif %}
		{% if image.title %}
		{{image.title}} <span> | </span>
		{% endif %}
		{{image.year}}
	</div>
{% endfor %}
</section>

{% endblock %}
