{% extends "base/layout.html" %}
{% block content %}

<section class="page resume">
	<div class="col-3 text-right">
		<section>
			<h2>Overview</h2>
			<span>"Street photographer and developer. I often find myself juggling creative and technical ventures"</span>
		</section>
		<section>
			<h2>Technical</h2>
			<div>
				<div class="skill-blocks">Python</div>
				<div class="skill-blocks">Javascript</div>
				<div class="skill-blocks">PHP</div>
				<div class="skill-blocks">Java</div>
				<div class="skill-blocks">Ruby</div>
				<div class="skill-blocks">CSS3</div>
				<div class="skill-blocks">HTML5</div>				
			</div>
		</section>
		<section>
			<h2>Practical</h2>
			<div>
				<div class="skill-blocks">Lean Startup</div>
				<div class="skill-blocks">Data Mining</div>
				<div class="skill-blocks">Agile Methodology</div>
				<div class="skill-blocks">Unit Testing</div>
				<div class="skill-blocks">Continuous Integration</div>
				<div class="skill-blocks">Product Market Fit</div>
				<div class="skill-blocks">Digital Marketing</div>
				<div class="skill-blocks">Photo & Video</div>
			</div>
		</section>
		<section>
		<h2>Tools</h2>
			<div>
				<div class="skill-blocks">Django</div>
				<div class="skill-blocks">Flask</div>
				<div class="skill-blocks">React</div>
				<div class="skill-blocks">Angular.js</div>
				<div class="skill-blocks">Backbone.js</div>
				<div class="skill-blocks">Flux</div>
				<div class="skill-blocks">Redux</div>
				<div class="skill-blocks">Android</div>
				<div class="skill-blocks">Symfony2</div>
				<div class="skill-blocks">Codeigniter</div>
				<div class="skill-blocks">Ruby On Rails</div>
				<div class="skill-blocks">SASS/LESS</div>
				<div class="skill-blocks">Git</div>
				<div class="skill-blocks">Grunt</div>
				<div class="skill-blocks">RETS</div>
				<div class="skill-blocks">Shopify</div>
				<div class="skill-blocks">Wordpress</div>
				<div class="skill-blocks">Adobe Suite</div>
				<div class="skill-blocks">Salesforce</div>
				<div class="skill-blocks">AWS</div>
			</div>
		</section>
		<section>
			<h2 class="pull">Education +</h2><br><h2>Honors</h2>
			<span class="degree-minor">New Ventures Leadership</span>
			<span><strong>Massachusetts Institute of Technology (MIT)</strong></span>
			<span>Class 4</span>
			<span>Summer 2016</span><br>
			<span class="degree-minor">Liberal Arts, BA</span>
			<!-- <span class="degree">BACHELOR<br> of ARTS</span> -->
			<span><strong>St. John's University</strong></span>
			<span>Focus: Education, Mathematics, Humanities</span>
			<span>2009 - 2013</span><br>
			<span><strong>Kappa Delta Pi</strong></span>
			<span>International Honor Society</span>
			<span>2011</span><br>
			<span><strong>Coursera Machine Learning</strong></span>
			<span>Standford University</span>
			<span>November 2016</span><br>
		</section>
	</div>
	<div class="col-7 offset-l-4">
		<h2>Experience</h2>
		<div class="experience-block">
			<div class="experience-block__header">
				<h3>Voost Pte Ltd | Co-Founder and Technical Lead</h3>
				<span class="location">Singapore</span>
				<span class="date">Mar. 2015 - Present</span>
			</div>
			<ul>
				<li><span>Developed product roadmaps, investor decks, and presentation documents leading to the closing of the company's seed financing</span></li>
				<li><span>Developed the company's entire technical architecture including database schema, testing practices, server infrastructure, and languages/frameworks</span></li>
				<li><span>Designed and implemented product UI/UX and online marketing materials</span></li>
				<li><span>Implemented agile and lean methodology to iterate through multiple business hypotheses and gain traction within the South East Asian market (month-on-month growth - 20%)</span></li>
				<li><span>Developed internal systems for tracking, managing, and organizing user data for the purpose of validating hypotheses and solving unique problems</span></li>
			</ul>
		</div>
		<div class="experience-block">
			<div class="experience-block__header">
				<h3>Crain Communications, Inc | Consultant</h3>
				<span class="location">New York, USA</span>
				<span class="date">Apr. 2010 - Present</span>
			</div>
			<ul>
				<li><span>Provided web development and email marketing services for Crain publications, specifically Autoweek and Advertising Age (AdAge)</span></li>
				<li><span>Managed subscription base and list segmentation of over 300k subscribers on both Salesforce and Cheetahmail</span></li>
				<li><span>Troubleshoot newsletter renderings for cross platform compatibility and analyzed post-mailing statistics</span></li>
			</ul>
		</div>
		<div class="experience-block">
			<div class="experience-block__header">
				<h3>QuallsBenson, LLC | Full Stack Developer</h3>
				<span class="location">New York, USA</span>
				<span class="date">Oct. 2013 - Oct. 2014</span>
			</div>
			<ul>
				<li><span>Lead the initiative to restructure and unify the individual databases of over 20 individual real estate websites</span></li>
				<li><span>Laid the groundwork for future development projects by implementing a standardized codebase, versioning, and deployment practices</span></li>
				<li><span>Responsible for the development of the W3C Awards Gold Recepient, GreenburgerCenter.org</span></li>
				<li><span>Integrated social API's from Facebook, Twitter, and Tumblr into PHP web applications</span></li>
			</ul>
		</div>
		<div class="experience-block">
			<div class="experience-block__header">
				<h3>Revolution Now, LLC | Front End Developer</h3>
				<span class="location">New York, USA</span>
				<span class="date">Jan. 2012 - Oct. 2013</span>
			</div>
			<ul>
				<li><span>Redesigned and migrated the company's original Magento storefront onto Shopify</span></li>
				<li><span>Provided optimization, troubleshooting, and consultation for all web related actions</span></li>
				<li><span>Reviewed and advised on site analytics to drive user growth</span></li>
			</ul>
		</div>
		<div class="experience-block">
			<div class="experience-block__header">
				<h3>St. John's University | Photographer</h3>
				<span class="location">New York, USA</span>
				<span class="date">Jan. 2011 - Jan. 2012</span>
			</div>
			<ul>
				<li><span>Managed the production of web commercials for the School of Education's Graduate and Undergraduate programs</span></li>
				<li><span>Photographer/Videographer for various college functions</span></li>
			</ul>
		</div>
		<div class="experience-block">
			<div class="experience-block__header">
				<h3>Assemblyman Thomas Alfano | Visual Liaison</h3>
				<span class="location">New York, USA</span>
				<span class="date">Jan. 2009 - Dec. 2009</span>
			</div>
			<ul>
				<li><span>Managed the production of digital campaign ads and fliers that lead to the Assemblyman's re-election</span></li>
				<li><span>Managed digital and creative assets for commuity engagement projects</span></li>
				<li><span>Maintained social networks and online presence</span></li>
			</ul>
		</div>
		<h2>Associations</h2>
		<div class="experience-block">
			<div class="experience-block__header">
				<h3>Joyful Frog Digital Incubator (JFDI)</h3>
				<span class="location">Singapore</span>
				<span class="date">Apr. 2015 - Jul. 2015</span>
			</div>
			<ul>
				<li><span>Graduate of the global start-up accelerator program that paired start-ups with technology, design, and business mentors</span></li>
			</ul>
		</div>
		<div class="experience-block">
			<div class="experience-block__header">
				<h3>Iceland Airwaves</h3>
				<span class="location">Reykjavik, Iceland</span>
				<span class="date">Nov. 2013</span>
			</div>
			<ul>
				<li><span>Freelance press photographer covering Iceland's annual music festival</span></li>
			</ul>
		</div>
		<h2>Volunteer</h2>
		<div class="experience-block">
			<div class="experience-block__header">
				<h3>MIT Launch | Mentor</h3>
				<span class="location">Massachusetts, USA</span>
				<span class="date">Oct. 2016 - Present</span>
			</div>
			<ul>
				<li><span>Currently providing mentorship for high school students partaking in MIT's entrepreneurship program</span></li>	
			</ul>
		</div>
		<div class="experience-block">
			<div class="experience-block__header">
				<h3>Join the Journey, <em>501(c)3</em> | Web Administrater</h3>
				<span class="location">Virginia, USA</span>
				<span class="date">Jan. 2013 - Mar. 2015</span>
			</div>
			<ul>
				<li><span>Managed online activities and workflow of other technology volunteers</span></li>
				<li><span>Created a photo documentary covering the homeless victims of the 2010 Haiti earthquake to build awareness and attract aid for the Capvva IDP Camp (Project goal completed in 2015)</span></li>
			</ul>
		</div>
	</div>
</section>

{% endblock %}
