{% extends "base/layout.html" %}
{% block content %}

<section class="page resume">
	<div class="col-3 text-right">
		<section>
			<h2>Overview</h2>
			<span>"Street photographer and web developer. I often find myself juggling creative and technical ventures"</span>
		</section>
		<section>
			<h2>Skillset</h2>
			<div>
				<div class="skill-blocks">Python</div>
				<div class="skill-blocks">PHP</div>
				<div class="skill-blocks">Javascript</div>
				<div class="skill-blocks">CSS3</div>
				<div class="skill-blocks">HTML5</div>				
			</div>
		</section>
		<section>
		<h2>Tools</h2>
			<div>
				
				<div class="skill-blocks">Django</div>
				<div class="skill-blocks">Flask</div>
				<div class="skill-blocks">Backbone.js</div>
				<div class="skill-blocks">Codeigniter</div>
				<div class="skill-blocks">LESS</div>
				<div class="skill-blocks">Git</div>
				<div class="skill-blocks">Grunt</div>
				<div class="skill-blocks">RETS</div>
				<div class="skill-blocks">Shopify</div>
				<div class="skill-blocks">Wordpress</div>
				<div class="skill-blocks">Adobe Suite</div>
			</div>
		</section>
		<section>
			<h2 class="pull">Education +</h2><br><h2>Honors</h2>
			<span class="degree">BACHELOR<br>of ARTS</span>
			<span><strong>St. John's University, 2013</strong></span>
			<span>Background: Education, Mathematics, Humanities</span>
			<span>GPA 3.67</span><br>
			<span><strong>Kappa Delta Pi</strong></span>
			<span>International Honor Society</span>
			<span>Admitted 2011</span>
		</section>
	</div>
	<div class="col-7 offset-l-2">
		<h2>Experience</h2>
		<div class="experience-block">
			<h3>QuallsBenson | Web Developer</h3>
			<span class="date">Oct. 2013 - Present</span>
			<ul>
				<li><span>Sole developer for all projects between January 2014 and onward</span></li>
				<li><span>Spearheaded an offtrack development schedule by three months after initial hiring</span></li>
				<li><span>Integrate social API's from Facebook, Twitter, and Tumblr into PHP web applications</span></li>
				<li><span>Work in tandem with graphic designers to translate mockups into dynamic web applications</span></li>
				<li><span>Implement and advise on analytics and search engine optimization</span></li>
				<li><span>Build and deploy responsive online newsletters</span></li>
			</ul>
		</div>
		<div class="experience-block">
			<h3>Advertising Age | Email Marketing Coordinator</h3>
			<span class="date">Apr. 2010 - Present</span>
			<ul>
				<li><span>Manages subscription base and list segmentation of over 100k subscribers</span></li>
				<li><span>Troubleshoot HTML renderings for cross platform compatibility</span></li>
				<li><span>Coordinates campaign deployment schedules for both local and remote marketers</span></li>
			</ul>
		</div>
		<div class="experience-block">
			<h3>Revolution Now | Front End Developer</h3>
			<span class="date">Jan. 2012 - Oct. 2013</span>
			<ul>
				<li><span>Spearheaded the transition onto a new web platform and design revamp in coordination with the opening of their NYC brick and mortar store</span></li>
				<li><span>Provides optimization, troubleshooting, and updates for company website</span></li>
				<li><span>Reviews and advises on site analytics in relation to functional design updates</span></li>
			</ul>
		</div>
		<div class="experience-block">
			<h3>St. John's University | Photographer</h3>
			<span class="date">Jan. 2011 - Jan. 2012</span>
			<ul>
				<li><span>Managed the production of web commercials for the School of Education's Graduate and Undergraduate programs</span></li>
				<li><span>Photographer/Videographer for various college functions</span></li>
			</ul>
		</div>
		<div class="experience-block">
			<h3>Assemblyman Thomas Alfano | Visual Liaison</h3>
			<span class="date">Jan. 2009 - Dec. 2009</span>
			<ul>
				<li><span>Managed the production of digital campaign ads and fliers for both re-election campaigns and community ventures</span></li>
				<li><span>Maintained social networks and online presence</span></li>
			</ul>
		</div>
		<h2>Volunteer</h2>
		<div class="experience-block">
			<h3>Join the Journey <em>501(c)3</em> | Web Administrater</h3>
			<span class="date">Jan. 2013 - Present</span>
			<ul>
				<li><span>Facilitated the operation to redesign the organization's website for mobile and desktop platforms and converge multiple online presences into a common, easily understood mission objective</span></li>
				<li><span>Created a photo documentary covering the homeless victims of the 2010 Haiti earthquake to build awareness and attract aid for the Capvva IDP Camp</span></li>
				<li><span>Maintains organization's website and oversees web related actions of other volunteers</span></li>
			</ul>
		</div>
	</div>
</section>

{% endblock %}
