/*
=================================================
DEFAULTS, MIXINS, VARIABLES
================================================*/
@white: #fff;
@black: #000;
@gray: #373737;
@light-gray: lighten(@gray, 30%);

@font-base: 13px arial, sans-serif;

@xlarge-font: 25px;
@large-font: 19px;
@medium-font: 15px;
@small-font: 11px;

// DESIGN THE MOBILE VERSION OF YOUR WEBSITE FIRST!!
// BS is more necessary than your BP style as it requires vendor prefixes
// Set one up for opacity + placeholder
.basepadding (@padding: 20px) {
	padding: @padding;
}

.boxshadow (@shadow: 0 -15px 20px -21px rgba(0,0,0,.25)) {
	box-shadow: @shadow;
		-webkit-box-shadow: @shadow;
			-moz-box-shadow: @shadow;
}

.transition (@transition: all 0.6s ease) {
	transition: @transition;
		-webkit-transition: @transition;
			-moz-transition: @transition;
}

@large-screen: ~"screen and (max-width:900px)";
@medium-screen: ~"screen and (max-width:768px)";
@small-screen: ~"screen and (max-width:450px)";

body {
	font: @font-base; 
	background-color: @white;
	color: @black;
	font-weight: 100;
	margin: 0 auto;
	@media @medium-screen {
		.transition;
	}
}
* {
	box-sizing: border-box;
		-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
}
.cf:before,
.cf:after {
    content: " "; 
    display: table; 
}
.cf:after {
    clear: both;
}
/*
*
* How you should handle your clearfixes
*
// Mixin
.clearfix() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

// Usage
.container {
  .clearfix();
}
*
*/
h1 { font-size: 30px; }
h2 { font-size: 25px; }
h3 { font-size: 20px; }
a, a:visited, a:active {
	color: @light-gray;
	text-decoration: none;
}
a:hover {
	color: @gray;
	text-decoration: none;
}
.text-justify { text-align: justify; }
.text-center { text-align: center; }
.text-right { text-align: right; }
.text-left { text-align: left; }
.uppercase { text-transform: uppercase; }
.right {
	float: right;
}
.left {
	float: left;
}

/*
=================================================
BLOCK ELEMENTS
================================================*/
.wrapper {
	width: 100%;
	max-width: 768px;
	margin: 0 auto;
	img {
		max-width: 100%;
	}
}
.outercontainer {
	display: table;
	overflow: hidden;
	width: 100%;
	height: 100%;
}
.innercontainer {
	display: table-cell;
	vertical-align: middle;
}
.row {
	width: 100%;
	display: block;
	position: relative;
}
/* 
*
* You should rebuild your grid using BS influenced columns
* and mobile helper styles (hide at xs only, etc)
* Split outer/inner containers into definite centering blocks (use as a mixin with rows)
* Use color schemes
@gray-darker:  lighten(#000, 13.5%); // #222
@gray-dark:    lighten(#000, 20%);   // #333
@link-color:       @brand-primary;
@link-hover-color: darken(@link-color, 15%);
@font-size-base:          14px;
@font-size-large:         ceil((@font-size-base * 1.25)); // ~18px
@font-size-small:         ceil((@font-size-base * 0.85)); // ~12px
@font-size-h1:            floor((@font-size-base * 2.6)); // ~36px
@padding-base-vertical:          6px;
@padding-base-horizontal:        12px;
* Start using RGBA for colors
*
*
.opacity(@opacity) {
  opacity: @opacity;
  // IE8 filter
  @opacity-ie: (@opacity * 100);
  filter: ~"alpha(opacity=@{opacity-ie})";
}
.placeholder(@color: @input-color-placeholder) {
  &::-moz-placeholder           { color: @color; } // Firefox
  &:-ms-input-placeholder       { color: @color; } // Internet Explorer 10+
  &::-webkit-input-placeholder  { color: @color; } // Safari and Chrome
}
*
*
*/
.half {
	width: 50%;
	padding: 0 2%;
	float: left;
	@media @small-screen {
		width: 100%;
		float: none;
		padding: 0;
	}
}
.thirds {
	width: 33.3%;
	padding: 0 2%;
	float: left;
}

/*
=================================================
NAVIGATION
================================================*/
nav {
	// desktop styles for nav...
	> div {
		display: none;
		height: 40px;
		line-height: 40px;
		@media @medium-screen {
			display: block;
		}
		svg {
			vertical-align: middle;
		}
	}
	@media @medium-screen {
		width: 100%;
		background-color: @black;
		padding: 5px 10px;
		position: fixed;
		top: 0;
		left: 0;
	}
	> ul {
		list-style: none;
		padding: 0;
		margin: 0;
		text-transform: uppercase;
		font-size: @xlarge-font;
		@media @medium-screen {
			display: none;
			// height: 0;
			// overflow: hidden;
			text-align: center;
			width: 100%;
			font-size: @large-font;
			padding: 0 0 20px 0;
		}
		li {
			margin: 0 0 10px 0;
			padding: 0;
			&:last-child {
				margin-bottom: 0;
			}
			@media @medium-screen {
				a, a:visited, a:active {
					color: @white;
				} 
				opacity: 0.0;
			}
		}
	}
}

.menu-toggle {
	cursor: pointer;
}

.nav-push {
	width: 100%;
	height: 40px;
	display: none;
}

@media @medium-screen {
	.nav-push {
		display: block;
	}
}



