/*
=================================================
DEFAULTS, MIXINS, VARIABLES
================================================*/
@import "fonts";

@white: #fff;
@black: #000;
@gray: #373737;

@font-base: 13px 'roboto_slablight', arial, sans-serif;

@xlarge-font: 25px;
@large-font: 21px;
@medium-font: 15px;
@small-font: 11px;

// Positioning
@max-width: 1200px;
@portfolio-height: 550px;
@top-position: 70px;

.basepadding (@padding: 0 10px) {
	padding: @padding;
}

.boxshadow (@shadow: 0 -15px 20px -21px fadeout(@black, 25%)) {
	box-shadow: @shadow;
		-webkit-box-shadow: @shadow;
			-moz-box-shadow: @shadow;
}

.transition (@transition: all 0.68s ease) {
	transition: @transition;
		-webkit-transition: @transition;
			-moz-transition: @transition;
}

.borders() {
	margin-bottom: 40px;
	padding: 5px 0;
	border-top: 1px solid darken(@white, 10%);
	border-bottom: 1px solid darken(@white, 10%);
}

@large-screen: ~"screen and (max-width:900px)";
@medium-screen: ~"screen and (max-width:768px)";
@small-screen: ~"screen and (max-width:450px)";

body {
	font: @font-base; 
	background-color: @white;
	color: @black;
	font-weight: 100;
	margin: 0 auto;
}
* {
	box-sizing: border-box;
		-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
}

.clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.placeholder(@color: @gray) {
	&::-moz-placeholder           { color: @color; } 
	&:-ms-input-placeholder       { color: @color; } 
	&::-webkit-input-placeholder  { color: @color; } 
}

h1 { font-size: 30px; }
h2 { font-size: 25px; }
h3 { font-size: 20px; }
a, a:visited, a:active {
	color: lighten(@gray, 30%);
	text-decoration: none;
}
a:hover {
	color: @gray;
	text-decoration: none;
}
.text-justify { text-align: justify; }
.text-center { text-align: center; }
.text-right { text-align: right; }
.text-left { text-align: left; }
.uppercase { text-transform: uppercase; }
.right {
	float: right;
}
.left {
	float: left;
}

/*
=================================================
BLOCK ELEMENTS
================================================*/
.wrapper {
	width: 100%;
	margin: @top-position auto 0 auto;
	max-width: @max-width;
	// border: 1px solid @gray;
	@media (max-width: 1200px) {
		max-width: 1000px;
	}
	@media (max-width: 950px) {
		// max-width: 850px;
	}
	@media @medium-screen {
		margin: 0 auto;
		max-width: 768px;
		img {
			max-width: 100%;
			width: 100%;
		}
	}
}

.outercontainer {
	display: table;
	overflow: hidden;
	width: 100%;
	height: 100%;
}
.innercontainer {
	display: table-cell;
	vertical-align: middle;
}
.row {
	width: 100%;
	display: block;
	position: relative;
}
.half {
	width: 50%;
	padding: 0 2%;
	float: left;
	@media @small-screen {
		width: 100%;
		float: none;
		padding: 0;
	}
}
.thirds {
	width: 33.3%;
	padding: 0 2%;
	float: left;
}

/*
=================================================
NAVIGATION, HEADER, FOOTER
================================================*/
nav {
	z-index: 1;
	position: fixed;
	width: 100%;
	font-family: 'roboto_slabthin', arial, sans-serif;
	max-width: @max-width;
	height: @portfolio-height;
	> div {
		display: none;
		height: 50px;
		line-height: 50px;
		background-color: fadeout(@black, 20%);
		border-bottom: 1px solid lighten(@black, 20%);
		.basepadding;
		@media @medium-screen {
			display: block;
		}
		svg {
			vertical-align: middle;
		}
	}
	@media (max-width: 1200px) {
		max-width: 1000px;
	}
	@media (max-width: 950px) {
		// max-width: 850px;
	}
	@media @medium-screen {
		z-index: 3; 
		width: 100%;
		border-bottom: 1px solid lighten(@black, 20%);
		background-color: fadeout(@black, 25%);
		top: 0;
		left: 0;
		height: 50px;
		overflow: hidden;
	}
	> ul.aside, ul.menu {
		list-style: none;
		height: 100%;
		width: 170px;
		float: right;
		font-size: @xlarge-font;
		padding: 0 7px;
		li {
			margin: 0 0 3px 0;
			color: lighten(@gray, 50%);
			padding: 0;
			&:last-child {
				margin-bottom: 0;
			}
			@media @medium-screen {
				a, a:visited, a:active {
					color: @white;
					width: 100%;
					height: 100%;
					display: block;
				} 
				padding: 5px 20px;
				margin: 0;
				&:hover {
					background-color: fadeout(@black, 95%);
				}
			}
		}
	}
	> ul.aside {
		margin: 0;
		text-align: right;
		text-transform: lowercase;
		@media @medium-screen {
			display: none;
		}
	}
	> ul.menu {
		background-color: fadeout(@white, 30%);
		margin: 0 20px 0 0;
		text-transform: uppercase;
		@media @medium-screen {
			float: none;
			background-color: transparent;
			text-align: right;
			width: 100%;
			font-size: @large-font;
			margin: 0;
			padding: 0;
			// padding: 40px 0;
		}
	}
}

a.author {
	float: left;
	text-transform: uppercase;
	// font-family: 'ralewaylight', arial, sans-serif;
	color: #fff;
	font-size: @medium-font;
}

.menu-toggle {
	float: right;
	cursor: pointer;
}

// Animate the the body when fixed menu expands
.nav-push {
	width: 100%;
	height: 50px;
	display: none;
	@media @medium-screen {
		display: block;
	}
}

// add space between footer and content for v.scroll

footer {
	position: fixed;
	font-family: 'ralewaylight', arial, sans-serif;
	z-index: 5;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 0 20px;
	height: 40px;
	line-height: 40px;
	background-color: fadeout(@white, 50%);
	color: darken(@white, 60%);
	border-top: 1px solid darken(@white, 10%);
	a {
		color: darken(@white, 60%);
	}
	@media @medium-screen {
		display: none; // maybe
		background-color: @black;
		color: @white;
		border-top: 1px solid lighten(@black, 20%);
		.basepadding;
		height: 30px;
		line-height: 30px;
		> a {
			display: none;
		}
	}
}

/*
=================================================
PORTFOLIO
================================================*/
.page {
	width: 83%;
	padding: 10px 20px;
	z-index: 2;
	position: relative;
	img {
		width: 100%;
		max-width: 100%;
	}
	@media (max-width: 1200px) {
		width: 80%;
	}
	@media (max-width: 950px) {
		width: 77%;
	}
	// @media (max-width: 1050px) {
		// width: 80%;
	// }
	// @media (max-width: 920px) {
	// 	width: 77%;
	// }
	@media @medium-screen {
		width: 100%;
		.basepadding;
	}
}

.portfolio {
	white-space: nowrap;
	position: absolute;
	top: @top-position;
	left: 0;
	padding-right: 300px;
	height: @portfolio-height;
	img {
		height: 100%;
		margin-right: 15px;
	}
	> .row {
		display: none;
		@media @medium-screen {
			display: block;
			.borders();
		}
	}
	@media @medium-screen {
		top: 0;
		position: relative;
		.basepadding;
		height: auto;
		white-space: normal;
		width: 100%;
		img {
			margin-right: 0;
		}
	}
}

/*
=================================================
BLOG
================================================*/
img.blog_images {
	margin-bottom: 10px;
}

.blog > .row {
	.borders();
}


