{% extends "base/layout.html" %}
{% block content %}

<section class="page blog">
	{% for posts in blog_posts %}

	{% for images in posts.postimages_set.all %}
	<img class="blog_images unveil" src="{{ STATIC_URL }}media/loading.gif"  data-src="{{ images.photo.url }}" alt="">
	{% endfor %}

	<div class="row">
		{{posts.created|date:'F jS, Y'}}
		{% if posts.title %}
		| <a href="{% url 'blog:blog_single' posts.slug %}"><h2>{{posts.title}}</h2></a>
		{% endif %}
	</div>

	{% endfor %}
</section>

{% endblock %}